{% extends 'base.html' %}

{% block content %}
<!--질문 등록-->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
    <form method="post" class="my-3" >
        {{ form.csrf_token }}
        <!-- 오류 표시 start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류 표시 end -->
        {{ form.subject.label }}                             <!--<label for="">제목</label-->
        {{ form.subject(class="form-control mb-3") }}        <!-- <input type="text" name="" id=""> -->

        {{ form.content.label }}                             <!--<label for="">내용</label>-->
        {{ form.content(class="form-control", rows="5") }}             <!--<textarea name="" id="" cols="30" rows="10"></textarea>-->
        {{ form.submit(class='btn btn-primary my-3') }}      <!--<button type="submit" class="btn btn-primary">저장하기</button>-->
    </form>

</div>
{% endblock %}